*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs
.DS_Store
/build
/captures
.externalNativeBuild


#data directories
/src/main/assets
/src/main/drawable
/src/main/drawable-v24

